<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets/img}"/>

    <div th:object="${player}">
        <title th:text="${player.getNameFull()}">Document</title>
    </div>

</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0" th:action="@{/playersearch}" method="get">
            <input class="form-control mr-sm-2 input-medium  col-8" type="search" placeholder="Enter Player Name" aria-label="Search"
                   name="search" id="search" th:value="${search}" pattern="\S+\s+\S+"
                   oninvalid="this.setCustomValidity('Please enter a first and last name')" oninput="setCustomValidity('')">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container" th:object="${player}" style="margin-top: 30px">

    <div class="card d-flex align-items-center justify-content-center h-100" style="border: none; background-color: transparent">
        <a th:href="@{|/player/hitter/${player.getPlayerId()}|}"><img
                th:src="@{'http://mlb.mlb.com/mlb/images/players/head_shot/' + ${player.getPlayerId()} + '.jpg'}" class="img-thumbnail" width="200"
                height="100">
        </a>
        <div class="card-body">
            <h1 class="card-title text-center" th:text="'#' + ${player.getJerseyNumber()} + ' - ' + ${player.getNameDisplayFirstLast()} + ' - ' + ${player.getPrimaryPositionTxt()}">Card title</h1>
            <p class="card-text text-center" th:text="'Team: ' + ${player.getTeamName()}"></p>
            <p class="card-text text-center" th:text="'DOB: ' + ${player.getBirthDate().substring(5,7)} + '/' + ${player.getBirthDate().substring(8,10)} + '/' + ${player.getBirthDate().substring(0,4)} + ' - ' + 'Age: ' + ${player.getAge()}"></p>
            <p class="card-text text-center" th:text="'Height: ' + ${player.getHeightFeet()} + '\'' + ${player.getHeightInches()} + ' - ' + 'Throws: ' + ${player.getThrows()} + ' - ' + ' Bats: ' + ${player.getBats()}"></p>
            <p class="card-text text-center" th:text="'City/Country: ' + ${player.getBirthCity()} + ', ' + ${player.getBirthCountry()}"></p>
            <p class="card-text text-center" th:if="${player.getCollege() == ''}" th:text="'College: None'"></p>
            <p class="card-text text-center" th:if="${player.getCollege() != ''}" th:text="'College: ' + ${player.getCollege()}"></p>
            <div class="col text-center">
                <a class="btn btn-primary btn-lg text-center"  th:if="${player.getTwitterId() != ''}"
                   th:href="@{'https://www.twitter.com/' +${player.getTwitterId()}}" role="button">Official
                    Twitter</a>
            </div>
        </div>
    </div>

    <!-- Nav -->
    <div class="container" style="margin-top: 20px">
        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item">
                <a class="nav-link projectedStats active" href="#">Projected 2019 Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link seasonStats" href="#">Current Season Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link careerStats" href="#">Career Stats</a>
            </li>
        </ul>
        <hr id="main">
    </div>
</div>

<!-- Main Content -->
<div class="container main">
    <div id="projectedStats" th:object="${projectedHittingStats}">
        <div class="col-md-auto">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Games
                    <span class="badge badge-primary badge-pill" th:text="${projectedHittingStats.getG()}">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    At Bats
                    <span class="badge badge-primary badge-pill" th:text="${projectedHittingStats.getAb()}">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Hits
                    <span class="badge badge-primary badge-pill" th:text="${projectedHittingStats.getH()}">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Singles
                    <span class="badge badge-primary badge-pill" th:text="${projectedHittingStats.getS()}">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Doubles
                    <span class="badge badge-primary badge-pill" th:text="${projectedHittingStats.getD()}">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Triples
                    <span class="badge badge-primary badge-pill" th:text="${projectedHittingStats.getT()}">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Home Runs
                    <span class="badge badge-primary badge-pill" th:text="${projectedHittingStats.getHr()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Runs Batted In
                    <span class="badge badge-primary badge-pill" th:text="${projectedHittingStats.getRbi()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Batting Average
                    <span class="badge badge-primary badge-pill" th:text="${projectedHittingStats.getAvg()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Slugging Percentage
                    <span class="badge badge-primary badge-pill" th:text="${projectedHittingStats.getSlg()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    On-base Plus Slugging
                    <span class="badge badge-primary badge-pill" th:text="${projectedHittingStats.getOps()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    On-base Percentage
                    <span class="badge badge-primary badge-pill" th:text="${projectedHittingStats.getObp()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Stolen Bases
                    <span class="badge badge-primary badge-pill" th:text="${projectedHittingStats.getSb()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Caught Stealing
                    <span class="badge badge-primary badge-pill" th:text="${projectedHittingStats.getCs()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Strikeouts
                    <span class="badge badge-primary badge-pill" th:text="${projectedHittingStats.getSo()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Walks
                    <span class="badge badge-primary badge-pill" th:text="${projectedHittingStats.getBb()}">1</span>
                </li>
            </ul>
        </div>
    </div>
    <div id="seasonStats" th:object="${seasonHittingStats}" style="display: none">
        <div class="col-md-auto">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Games
                    <span class="badge badge-primary badge-pill" th:text="${seasonHittingStats.getG()}">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    At Bats
                    <span class="badge badge-primary badge-pill" th:text="${seasonHittingStats.getAb()}">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Hits
                    <span class="badge badge-primary badge-pill" th:text="${seasonHittingStats.getH()}">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Singles
                    <span class="badge badge-primary badge-pill" th:text="${seasonHittingStats.getSingles()}">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Doubles
                    <span class="badge badge-primary badge-pill" th:text="${seasonHittingStats.getD()}">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Triples
                    <span class="badge badge-primary badge-pill" th:text="${seasonHittingStats.getT()}">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Home Runs
                    <span class="badge badge-primary badge-pill" th:text="${seasonHittingStats.getHr()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Runs Batted In
                    <span class="badge badge-primary badge-pill" th:text="${seasonHittingStats.getRbi()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Batting Average
                    <span class="badge badge-primary badge-pill" th:text="${seasonHittingStats.getAvg()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Slugging Percentage
                    <span class="badge badge-primary badge-pill" th:text="${seasonHittingStats.getSlg()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    On-base Plus Slugging
                    <span class="badge badge-primary badge-pill" th:text="${seasonHittingStats.getOps()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    On-base Percentage
                    <span class="badge badge-primary badge-pill" th:text="${seasonHittingStats.getObp()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Stolen Bases
                    <span class="badge badge-primary badge-pill" th:text="${seasonHittingStats.getSb()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Caught Stealing
                    <span class="badge badge-primary badge-pill" th:text="${seasonHittingStats.getCs()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Strikeouts
                    <span class="badge badge-primary badge-pill" th:text="${seasonHittingStats.getSo()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Walks
                    <span class="badge badge-primary badge-pill" th:text="${seasonHittingStats.getBb()}">1</span>
                </li>
            </ul>
        </div>
    </div>
    <div id="careerStats" th:object="${careerHittingStats}" style="display: none">
        <div class="col-md-auto">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Games
                    <span class="badge badge-primary badge-pill" th:text="${careerHittingStats.getG()}">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    At Bats
                    <span class="badge badge-primary badge-pill" th:text="${careerHittingStats.getAb()}">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Hits
                    <span class="badge badge-primary badge-pill" th:text="${careerHittingStats.getH()}">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Singles
                    <span class="badge badge-primary badge-pill" th:text="${careerHittingStats.getSingles()}">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Doubles
                    <span class="badge badge-primary badge-pill" th:text="${careerHittingStats.getD()}">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Triples
                    <span class="badge badge-primary badge-pill" th:text="${careerHittingStats.getT()}">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Home Runs
                    <span class="badge badge-primary badge-pill" th:text="${careerHittingStats.getHr()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Runs Batted In
                    <span class="badge badge-primary badge-pill" th:text="${careerHittingStats.getRbi()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Batting Average
                    <span class="badge badge-primary badge-pill" th:text="${careerHittingStats.getAvg()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Slugging Percentage
                    <span class="badge badge-primary badge-pill" th:text="${careerHittingStats.getSlg()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    On-base Plus Slugging
                    <span class="badge badge-primary badge-pill" th:text="${careerHittingStats.getOps()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    On-base Percentage
                    <span class="badge badge-primary badge-pill" th:text="${careerHittingStats.getObp()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Stolen Bases
                    <span class="badge badge-primary badge-pill" th:text="${careerHittingStats.getSb()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Caught Stealing
                    <span class="badge badge-primary badge-pill" th:text="${careerHittingStats.getCs()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Strikeouts
                    <span class="badge badge-primary badge-pill" th:text="${careerHittingStats.getSo()}">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Walks
                    <span class="badge badge-primary badge-pill" th:text="${careerHittingStats.getBb()}">1</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

<script th:src="@{/assets/js/dashboard.js}"></script>
</html>