<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head"></head>
<head>
    <title>Baseball Dashboard</title>
</head>
<body>
<!-- Navbar -->
<nav th:replace="layout :: navbar"></nav>
<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container" style="text-align:center">
        <h1 class="display-4">Baseball Dashboard</h1>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="#" role="button">Github Repo</a>
    </div>
</div>

<!-- Nav -->
<div class="container nav-links">
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link home active" href="#">Teams</a>
        </li>
        <li class="nav-item">
            <a class="nav-link schedule" href="#">Daily Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link standings" href="#">Standings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link news" href="#">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link leagueLeaders" href="#">League Leaders</a>
        </li>
    </ul>
    <hr id="main">
</div>

<div class="loading-page " style="display: none">
    <div class="row d-flex flex-column align-items-center justify-content-center">
        <div class="spinner-grow" style="width: 3rem; height: 3rem; text-align: center">
            <span class="sr-only"></span>
        </div>
    </div>
    <div class="row d-flex flex-column align-items-center justify-content-center">
        <strong>Loading Team Page</strong>
    </div>
</div>

</nav>

<!-- Main Content -->
<div class="container main">
    <div id="teams">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'ARI'}/${109}|}"><img th:src="@{/assets/img/ARI.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Arizona Diamondbacks">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'ATL'}/${144}|}"><img th:src="@{/assets/img/ATL.png}" class="img-thumbnail"  data-toggle="tooltip" data-placement="top" title="Atlanta Braves">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'BAL'}/${110}|}"><img th:src="@{/assets/img/BAL.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Baltimore Orioles">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'BOS'}/${111}|}"><img th:src="@{/assets/img/BOS.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Boston Redsox">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'CHC'}/${112}|}"><img th:src="@{/assets/img/CHC.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Chicago Cubs">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'CHW'}/${145}|}"><img th:src="@{/assets/img/CWS.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Chicago Whitesox">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'CIN'}/${113}|}"><img th:src="@{/assets/img/CIN.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Cincinnati Reds">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'CLE'}/${114}|}"><img th:src="@{/assets/img/CLE.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Cleveland Indians">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'COL'}/${115}|}"><img th:src="@{/assets/img/COL.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Colorado Rockies">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'DET'}/${116}|}"><img th:src="@{/assets/img/DET.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Detroit Tigers">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'HOU'}/${117}|}"><img th:src="@{/assets/img/HOU.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Houston Astros">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'KC'}/${118}|}"><img th:src="@{/assets/img/KC.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Kansas City Royals">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'LAA'}/${108}|}"><img th:src="@{/assets/img/LAA.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Los Angeles Angels">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'LAD'}/${119}|}"><img th:src="@{/assets/img/LAD.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Los Angeles Dodgers">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'MIA'}/${146}|}"><img th:src="@{/assets/img/MIA.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Miami Marlins">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'MIL'}/${158}|}"><img th:src="@{/assets/img/MIL.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Milwaukee Brewers">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'MIN'}/${142}|}"><img th:src="@{/assets/img/MIN.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Minnesota Twins">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'NYM'}/${121}|}"><img th:src="@{/assets/img/NYM.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="New York Mets">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'NYY'}/${147}|}"><img th:src="@{/assets/img/NYY.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="New York Yankees">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'OAK'}/${133}|}"><img th:src="@{/assets/img/OAK.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Oakland A's">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'PHI'}/${143}|}"><img th:src="@{/assets/img/PHI.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Philadelphia Phillies">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'PIT'}/${134}|}"><img th:src="@{/assets/img/PIT.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Pittsburgh Pirates">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'SD'}/${135}|}"><img th:src="@{/assets/img/SD.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="San Diego Padres">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'SEA'}/${136}|}"><img th:src="@{/assets/img/SEA.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Seattle Mariners">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'SF'}/${137}|}"><img th:src="@{/assets/img/SF.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="San Francisco Giants">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'STL'}/${138}|}"><img th:src="@{/assets/img/STL.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="St. Louis Cardinals">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'TB'}/${139}|}"><img th:src="@{/assets/img/TB.gif}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Tampa Bay Rays">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'TEX'}/${140}|}"><img th:src="@{/assets/img/TEX.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Texas Rangers">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'TOR'}/${141}|}"><img th:src="@{/assets/img/TOR.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Toronto Blue Jays">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'WSH'}/${120}|}"><img th:src="@{/assets/img/WSH.png}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Washington Nationals">
                </a>
            </div>
        </div>
    </div>
    <nav aria-label="breadcrumb" class="hitter" style="display: none; background-color: transparent">
        <ol class="breadcrumb align-items-center" style="background-color: transparent">
            <li class="breadcrumb-item hr"><a href="###">HR</a></li>
            <li class="breadcrumb-item hits"><a href="###">Hits</a></li>
            <li class="breadcrumb-item rbi"><a href="###">RBI</a></li>
            <li class="breadcrumb-item avg"><a href="###">AVG</a></li>
        </ol>
        <div class="loading-main" style="display: none; text-align: center">
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </nav>

</div>
<div class="container sub">
    <nav aria-label="breadcrumb" class="pitcher" style="display: none; background-color: transparent">
        <ol class="breadcrumb" style="background-color: transparent;">
            <li class="breadcrumb-item wins"><a href="###">Wins</a></li>
            <li class="breadcrumb-item strikeouts"><a href="###">Strikeouts</a></li>
            <li class="breadcrumb-item era"><a href="###">ERA</a></li>
            <li class="breadcrumb-item saves"><a href="###">Saves</a></li>
        </ol>
        <div class="loading-sub" style="display: none; text-align: center">
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </nav>
</div>

<footer th:replace="layout :: footer"></footer>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

<script th:src="@{/assets/js/dashboard.js}"></script>

</html>