<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets/img}"/>

    <title>Document</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container" style="text-align:center">
        <h1 class="display-4">MLB Dashboard</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="#" role="button">Github Repo</a>
    </div>
</div>

<!-- Nav -->
<div class="container">
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link home active" href="#">Teams</a>
        </li>
        <li class="nav-item">
            <a class="nav-link schedule" href="#">Daily Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link standings" href="#">Standings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link news" href="#">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link leagueLeaders" href="#">League Leaders</a>
        </li>
    </ul>
    <hr id="main">
</div>

<!-- Main Content -->
<div class="container main">
    <div id="teams">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'ARI'}/${109}|}"><img th:src="@{/assets/img/ARI.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'ATL'}/${144}|}"><img th:src="@{/assets/img/ATL.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'BAL'}/${110}|}"><img th:src="@{/assets/img/BAL.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'BOS'}/${111}|}"><img th:src="@{/assets/img/BOS.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'CHC'}/${112}|}"><img th:src="@{/assets/img/CHC.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'CWS'}/${145}|}"><img th:src="@{/assets/img/CWS.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'CIN'}/${113}|}"><img th:src="@{/assets/img/CIN.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'CLE'}/${114}|}"><img th:src="@{/assets/img/CLE.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'COL'}/${115}|}"><img th:src="@{/assets/img/COL.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'DET'}/${116}|}"><img th:src="@{/assets/img/DET.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'HOU'}/${117}|}"><img th:src="@{/assets/img/HOU.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'KC'}/${118}|}"><img th:src="@{/assets/img/KC.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'LAA'}/${108}|}"><img th:src="@{/assets/img/LAA.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'LAD'}/${119}|}"><img th:src="@{/assets/img/LAD.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'MIA'}/${146}|}"><img th:src="@{/assets/img/MIA.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'MIL'}/${158}|}"><img th:src="@{/assets/img/MIL.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'MIN'}/${142}|}"><img th:src="@{/assets/img/MIN.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'NYM'}/${121}|}"><img th:src="@{/assets/img/NYM.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'NYY'}/${147}|}"><img th:src="@{/assets/img/NYY.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'OAK'}/${133}|}"><img th:src="@{/assets/img/OAK.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'PHI'}/${143}|}"><img th:src="@{/assets/img/PHI.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'PIT'}/${134}|}"><img th:src="@{/assets/img/PIT.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'SD'}/${135}|}"><img th:src="@{/assets/img/SD.png}" class="img-thumbnail"></a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'SEA'}/${136}|}"><img th:src="@{/assets/img/SEA.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'SF'}/${137}|}"><img th:src="@{/assets/img/SF.png}" class="img-thumbnail"></a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'STL'}/${138}|}"><img th:src="@{/assets/img/STL.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'TB'}/${139}|}"><img th:src="@{/assets/img/TB.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'TEX'}/${140}|}"><img th:src="@{/assets/img/TEX.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'TOR'}/${141}|}"><img th:src="@{/assets/img/TOR.png}" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{|/team/${'WSH'}/${120}|}"><img th:src="@{/assets/img/WSH.png}" class="img-thumbnail">
                </a>
            </div>
        </div>
    </div>
    <nav aria-label="breadcrumb" class="hitter" style="display: none; background-color: transparent">
        <ol class="breadcrumb align-items-center" style="background-color: transparent">
            <li class="breadcrumb-item hr"><a href="###">HR</a></li>
            <li class="breadcrumb-item hits"><a href="###">Hits</a></li>
            <li class="breadcrumb-item rbi"><a href="###">RBI</a></li>
            <li class="breadcrumb-item avg"><a href="###">AVG</a></li>
        </ol>
    </nav>

</div>
<div class="container sub">
    <nav aria-label="breadcrumb" class="pitcher" style="display: none; background-color: transparent">
        <ol class="breadcrumb" style="background-color: transparent;">
            <li class="breadcrumb-item wins"><a href="###">Wins</a></li>
            <li class="breadcrumb-item strikeouts"><a href="###">Strikeouts</a></li>
            <li class="breadcrumb-item era"><a href="###">ERA</a></li>
            <li class="breadcrumb-item saves"><a href="###">Saves</a></li>
        </ol>
    </nav>
</div>


</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

<script th:src="@{/assets/js/dashboard.js}"></script>

</html>