<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head"></head>
<head>
    <div th:object="${team}">
        <title th:text="${team.getNameDisplayFull()}">Document</title>
    </div>
</head>
<body>
<!-- Navbar -->
<nav th:replace="layout :: navbar"></nav>

<div class="loading-teamPage " style="display: none; padding-top: 100px">
    <div class="row d-flex flex-column align-items-center justify-content-center">
        <div class="spinner-grow" style="width: 3rem; height: 3rem; text-align: center">
            <span class="sr-only"></span>
        </div>
    </div>
    <div class="row d-flex flex-column align-items-center justify-content-center">
        <strong>Loading Player Page</strong>
    </div>
</div>

<div class="container" th:object="${team}" style="margin-top: 30px">
    <div class="card d-flex align-items-center justify-content-center h-100" style="border: none; background-color: transparent">
        <a th:href="@{|/team/${team.getBisTeamCode()}/${team.getMlbOrgId()}|}"><img
                th:src="@{'/assets/img/' + ${team.getMlbOrgAbbrev()} + '.png'}" class="team-logo" width="400"
                height="300">
        </a>
        <div class="card-body">
            <h1 class="card-title text-center" th:text="${team.getNameDisplayFull()}">Card title</h1>
            <p class="card-text text-center" th:text="'Ballpark: ' + ${team.getVenueName()}"></p>
            <p class="card-text text-center" th:text="'League: ' + ${team.getLeagueFull()}"></p>
            <p class="card-text text-center" th:text="'Division: ' + ${team.getDivisionFull()}"></p>
            <p class="card-text text-center"
               th:text="'Address: ' + ${team.getAddressLine1()} + ', ' + ${team.getAddressCity()} + ', ' + ${team.getAddressState()} + ' ' + ${team.getAddressZip()}"></p>
            <div class="col text-center">
                <a class="btn btn-primary btn-lg text-center"
                   th:href="@{'https://www.mlb.com/' +${team.getMlbOrgBrief().toLowerCase()}}" role="button">Official
                    Team Site</a>
            </div>
        </div>
</div>

<!-- Nav -->
<div class="container" style="margin-top: 20px">
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link upcomingSchedule active" href="#">Upcoming Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link roster" href="#">40 Man Roster</a>
        </li>
        <li class="nav-item">
            <a class="nav-link hittingStats" href="#">Hitting Stats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link pitchingStats" href="#">Pitching Stats</a>
        </li>
    </ul>
    <hr id="main">
</div>
</div>

<div class="reload-teamPage " style="display: none; padding-top: 30px">
<div class="row d-flex flex-column align-items-center justify-content-center">
    <div class="spinner-grow" style="width: 3rem; height: 3rem; text-align: center">
        <span class="sr-only"></span>
    </div>
</div>
<div class="row d-flex flex-column align-items-center justify-content-center">
    <strong>Re-loading Team Data</strong>
</div>
</div>

<!-- Main Content -->
<div class="container main">
    <div id="upcomingSchedule">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12" th:each="games : ${nextTwelveGames}" style="margin-bottom: 20px">
                <div class="card text-center">
                    <div class="card-header text-center" style="background-color: darkcyan; color: white" th:text="${games.getDay().substring(5,7)} + '-' + ${games.getDay().substring(8,10)} + '-' + ${games.getDay().substring(0,4)}">Final</div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${games.getAwayTeam()} + ' vs ' + ${games.getHomeTeam()}">DET at ATL</h5>
                        <p class="card-text"><small class="text-muted" th:text="${games.getStadiumName()}">SunTrust Park</small></p>
                        <p2 class="card-text" th:text="'Start Time: '+ ${games.getStartTime()} + ' EST'">Start Time: 13:05</p2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="roster" style="display: none">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 text-center" th:each="player : ${roster}" style="margin-bottom: 30px">
                <div th:if="${player.getPositionTxt()} == 'P'">
                    <h6 th:text="${player.getNameFull()}" class="text-center"></h6>
                    <a  th:href="@{|/player/pitcher/${player.getPlayerId()}|}"><img th:src="@{'http://mlb.mlb.com/mlb/images/players/head_shot/' + ${player.getPlayerId()} + '.jpg'}" class="player-details"></a>
                </div>
                <div th:if="${player.getPositionTxt()} != 'P'">
                    <h6 th:text="${player.getNameFull()}" class="text-center"></h6>
                    <a  th:href="@{|/player/hitter/${player.getPlayerId()}|}"><img th:src="@{'http://mlb.mlb.com/mlb/images/players/head_shot/' + ${player.getPlayerId()} + '.jpg'}" class="player-details"></a>
                </div>
            </div>
        </div>
    </div>
    <div id="hittingStats" th:object="${teamStats}" style="display: none">
        <div class="col-md-auto">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Games
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getGames()}">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                At Bats
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getAtBats()}">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Runs
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getRuns()}">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Hits
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getHits()}">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Singles
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getSingles()}">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Doubles
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getDoubles()}">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Triples
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getTriples()}">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                HomeRuns
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getHomeRuns()}">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Runs Batted In
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getRunsBattedIn()}">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Batting Average
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getBattingAverage()}">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Sacrifice Flies
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getSacrificeFlies()}">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Strikeouts
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getStrikeouts()}">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Walks
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getWalks()}">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Stolen Bases
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getStolenBases()}">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                On Base Percentage
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getOnBasePercentage()}">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Slugging Percentage
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getSluggingPercentage()}">1</span>
            </li>
        </ul>
        </div>
    </div>
    <div id="pitchingStats" th:object="${teamStats}" style="display: none">
        <div class="col-md-auto">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Wins
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getWins()}">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Losses
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getLosses()}">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Saves
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getSaves()}">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Innings Pitched
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getInningsPitchedFull()}">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Total Outs Pitched
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getTotalOutsPitched()}">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Earned Run Average
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getEarnedRunAverage()}">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Hits Given Up
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getPitchingHits()}">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Runs Given Up
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getPitchingRuns()}">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Home Runs Given Up
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getPitchingHomeRuns()}">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Strikeouts
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getPitchingStrikeouts()}">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Strikeouts Per Nine
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getPitchingStrikeoutsPerNineInnings()}">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Walks Per Nine
                <span class="badge badge-primary badge-pill" th:text="${teamStats.getPitchingWalksPerNineInnings()}">1</span>
            </li>
        </ul>
        </div>
    </div>
</div>
<footer th:replace="layout :: footer"></footer>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

<script th:src="@{/assets/js/dashboard.js}"></script>
</html>